[submodule "third_party/Arduboy2"]
	path = third_party/Arduboy2
	url = https://github.com/MLXXXp/Arduboy2.git
[submodule "third_party/MicroTD"]
	path = third_party/MicroTD
	url = https://gitlab.com/drummyfish/Arduboy_TD.git
[submodule "third_party/ArduboyWorks"]
	path = third_party/ArduboyWorks
	url = https://github.com/obono/ArduboyWorks.git
[submodule "third_party/Ardynia"]
	path = third_party/Ardynia
	url = https://github.com/city41/ardynia.git
[submodule "third_party/Arduventure"]
	path = third_party/Arduventure
	url = https://github.com/Team-ARG-Museum/ID-46-Arduventure.git
[submodule "third_party/ATMlib"]
	path = third_party/ATMlib
	url = https://github.com/Team-ARG-Museum/ATMlib.git
[submodule "third_party/Helmets-Hordes"]
	path = third_party/Helmets-Hordes
	url = https://github.com/Team-ARG-Museum/ID-47-Helmets-Hordes.git
[submodule "third_party/Fantasy-Rampage"]
	path = third_party/Fantasy-Rampage
	url = https://github.com/Team-ARG-Museum/ID-48-Fantasy-Rampage.git
[submodule "third_party/Sunfire"]
	path = third_party/Sunfire
	url = https://github.com/Team-ARG-Museum/ID-50-Sunfire.git
